Dear user,

This is a notification message to inform you that, a user has recently posted a blog comment. You can approve it either from the back end, or simply use the link below to manipulate the blog comment.

To publish the blog comment:
%PUBLISH%

To unpublish the blog comment:
%UNPUBLISH%

To remove the blog comment:
%DELETE%


===========================================================================
Author: %AUTHOR%
Date: %DATE%
Comment title: %TITLE%
===========================================================================
Comment:
%COMMENT%
===========================================================================