Dear user,
This is a notification message to inform you that, a user has recently posted a blog entry. 
You can approve it either from the back end, or simply use the link below to manipulate the blog entry.

===========================================================================
Date: %DATE%
Blog title: %TITLE%
Blog link: %BLOG%
Author: %AUTHOR%
===========================================================================
Entry:
%ENTRY%
===========================================================================

To publish the blog entry: %PUBLISH%
To unpublish the blog entry: %UNPUBLISH%
To remove the blog entry: %DELETE%