Dear user,
This is a notification message to inform you that a user has updated their blog entry. 
You may unpublish or remove it from the link below, or from the back end.

===========================================================================
Date: %DATE%
Blog title: %TITLE%
Blog link: %BLOG%
Author: %AUTHOR%
===========================================================================
Entry:
%ENTRY%
===========================================================================

To unpublish the blog entry: %UNPUBLISH%
To remove the blog entry: %DELETE%